@import "tailwindcss";
@plugin "daisyui";
* {
    font-family: "Poppins", sans-serif;
}

.cp {
    color: #5CAF90;
}
.ct{
     color: #4B5966;
}
.bgp {
    background-color: #5CAF90;
}

.ts {
    color: #4B5966;
    font-size: 12px;

}